        body {
            margin: 0;
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
        }

        .container {
            width: 85%;
            margin: 40px auto;
            border: 3px solid black;
            padding: 15px;
            box-sizing: border-box;
        }

        .header {
            height: 70px;
            border: 3px solid black;
            margin-bottom: 15px;
        }

        .main {
            display: flex;
            border: 3px solid black;
            padding: 15px;
            box-sizing: border-box;
        }

        .sidebar {
            width: 25%;
            border: 3px solid black;
            margin-right: 15px;
            height: 350px;
        }

        .content {
            width: 75%;
        }

        .top-bar {
            height: 70px;
            border: 3px solid black;
            margin-bottom: 15px;
        }

        .content-boxes {
            display: flex;
            gap: 15px;
        }

        .box {
            flex: 1;
            height: 250px;
            border: 3px solid black;
        }

        .footer {
            height: 50px;
            border: 3px solid black;
            margin-top: 15px;
        }
